<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>自动化运维</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 引入 Bootstrap -->
    <link href="{% static 'maintenance/bootstrap3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'maintenance/bootstrap-select/css/bootstrap-select.css' %}" rel="stylesheet">

    <link href="{% static 'maintenance/fontawesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <link href="{% static 'maintenance/css/custom.css' %}" rel="stylesheet">
    <meta charset="UTF-8">
    <!-- 导入Jquery文件-->
    <script src="{% static 'maintenance/js/jquery-3.2.1.min.js' %}"></script>
    <!--导入bootstrap中的js 插件-->
    <script src="{% static 'maintenance/bootstrap3.3.7/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'maintenance/bootstrap-select/js/bootstrap-select.js' %}"></script>

    <!--导入自己的js文件-->
    <script src="{% static 'maintenance/js/show_workpage.js' %}"></script>
</head>
<body>
<div class=" container-fluid">
    <div class="row">
        <div class="col-lg-12" style="background-color: #f8f8f8;height: 50px;border:solid 1px #e7e7e7">
            <span style="font-size: 18px;line-height: 50px;color: #888888;">AUTO OPERATION
                <small>自动化运维平台</small>
                <ul class="nav nav-pills navbar-right" style="margin-right: 10%">
                 <!--bar user dropdown list -->
                    <li class="dropdown">
                            <span class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span class="glyphicon glyphicon-user" style="color: #2aabd2"><small id="welcome"> 欢迎用户 <i
                                            id="welcomeuser">{{ user }}</i></small><span class="caret"></span></span>
                            </span>
                            <ul class="dropdown-menu" style="text-indent: 0.1em">
                                <li id="changepwd"><a href="javascript:void(0)"><span
                                        class="glyphicon glyphicon-cog"></span> 修改密码</a></li>
                                <li id="logout"><a href="javascript:void(0)"><span
                                        class="glyphicon glyphicon-log-out"></span> 退出</a></li>
                                <!--add new menu -->
                            </ul>
                    </li>
                </ul>
            </span>
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-2" style="background-color: #f8f8f8;min-height: 570px;margin: 0;padding: 0">
            <ul id="leftnav" class="nav nav-pills nav-stacked" style="margin: 0;padding: 0">

                <li id="home" role="presentation" class="" style="border-bottom: solid 1px #e7e7e7"><a
                        href="javascript:void(0)"><span class="glyphicon glyphicon-home"></span> 主页</a></li>

                <li class="" style="border-bottom: solid 1px #e7e7e7">
                    <a href="#setup" class="nav-header collapsed " data-toggle="collapse">
                        <i class="glyphicon glyphicon-cloud "></i> 服务器部署
                        <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
                    </a>
                    <ul id="setup" class="nav nav-list collapse" style="list-style: none;text-indent: 1em">
                        <li class="active"><a href="#"><i class="glyphicon glyphicon-user"></i> 数据库</a></li>
                        <li><a href="javascript:void(0)"><i class="glyphicon glyphicon-th-list"></i> 中间件</a></li>
                    </ul>
                </li>

                <li class="" style="border-bottom: solid 1px #e7e7e7">
                    <a href="#config" class="nav-header collapsed " data-toggle="collapse">
                        <i class="glyphicon glyphicon-cog"></i> 软件参数配置
                        <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
                    </a>
                    <ul id="config" class="nav nav-list collapse" style="list-style: none;text-indent: 1em">
                        <li><a href="javascript:void(0)"><i class="glyphicon glyphicon-th-list"></i> Oracle数据库</a></li>
                        <li><a href="javascript:void(0)"><i class="glyphicon glyphicon-th-list"></i> MySQL数据库</a></li>
                        <li><a href="javascript:void(0)"><i class="glyphicon glyphicon-asterisk"></i> Tomcat</a></li>
                        <li><a href="javascript:void(0)"><i class="glyphicon glyphicon-eye-open"></i> Nginx</a></li>
                        <li><a href="javascript:void(0)"><i class="glyphicon glyphicon-eye-open"></i> Apache</a></li>
                    </ul>
                </li>

                <li class="" style="border-bottom: solid 1px #e7e7e7">
                    <a href="#servicemgr" class="nav-header collapsed " data-toggle="collapse">
                        <i class="glyphicon glyphicon-tasks"></i> 服务启停
                        <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
                    </a>
                    <ul id="servicemgr" class="nav nav-list collapse " style="list-style: none;text-indent: 1em">
                        <li id="oras" role="presentation"><a href="javascript:void(0)"><i
                                class="glyphicon glyphicon-warning-sign"></i>Oracle服务启停</a></li>
                        <li id="mysql" role="presentation"><a href="javascript:void(0)"><i
                                class="glyphicon glyphicon-warning-sign"></i>MySQL服务启停</a></li>
                        <li id="toms" role="presentation"><a href="javascript:void(0)"><i
                                class="glyphicon glyphicon-warning-sign"></i> Tomcat服务启停</a></li>
                        <li id="apache" role="presentation"><a href="javascript:void(0)"><i
                                class="glyphicon glyphicon-warning-sign"></i> Apache服务启停</a></li>
                        <li id="nginx" role="presentation"><a href="javascript:void(0)"><i
                                class="glyphicon glyphicon-warning-sign"></i> Nginx服务启停</a></li>
                    </ul>
                </li>

                <li class="" style="border-bottom: solid 1px #e7e7e7">
                    <a href="#tools" class="nav-header collapsed " data-toggle="collapse">
                        <i class="glyphicon glyphicon-wrench"></i> 常用工具
                        <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
                    </a>
                    <ul id="tools" class="nav nav-list collapse" style="list-style: none;text-indent: 1em">
                        <li class="active"><a href="#"><i class="glyphicon glyphicon-time"></i> CRONTAB管理</a></li>
                        <li><a href="javascript:void(0)"><i class="glyphicon glyphicon-file"></i> 脚本管理</a></li>
                        <li><a href="javascript:void(0)"><i class="glyphicon glyphicon-asterisk"></i> 数据库性能分析</a></li>
                        <li id="systemhealthcheck"><a href="javascript:void(0)"><i
                                class="glyphicon glyphicon-eye-open"></i> 系统健康检查</a></li>
                        <li><a href="#"><i class="glyphicon glyphicon-user"></i> 系统日志查看</a></li>
                    </ul>
                </li>

                <li class="" style="border-bottom: solid 1px #e7e7e7">
                    <a href="#report" class="nav-header collapsed " data-toggle="collapse">
                        <i class="glyphicon glyphicon-dashboard"></i> 报表
                        <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
                    </a>
                    <ul id="report" class="nav nav-list collapse" style="list-style: none;text-indent: 1em">
                        <li id="auditlog" class="active"><a href="javascript:void(0)"><i
                                class="glyphicon glyphicon-user"></i> 用户操作日志</a></li>
                    </ul>
                </li>

                <li class=" " style="border-bottom: solid 1px #e7e7e7">
                    <a href="#systemsetting" class="nav-header collapsed " data-toggle="collapse">
                        <i class="glyphicon glyphicon-compressed "></i> 系统管理
                        <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
                    </a>
                    <ul id="systemsetting" class="nav nav-list collapse" style="list-style: none;text-indent: 1em">
                        <li id="usermanagement"><a href="javascript:void(0)"><i class="glyphicon glyphicon-user"></i>
                            用户信息维护</a></li>
                        <li><a href="javascript:void(0)"><i class="glyphicon glyphicon-th-list"></i> 应用系统信息维护</a></li>
                        <li><a href="javascript:void(0)"><i class="glyphicon glyphicon-asterisk"></i> 服务器信息维护</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-lg-10">
            <div id="workpage" style="width: 98%;margin-left: 2px"></div>
            <div id="modal_page"></div>
        </div>
    </div>
    <div class="page-footer">

    </div>

</div>
</body>
<script>
    $.ajaxSetup({
        cache: false //关闭AJAX相应的缓存
    });
</script>
</html>