<!DOCTYPE HTML>
<html>
<head>
    <title>Simple Login Form</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../static/maintenance/bootstrap3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./../../static/maintenance/css/custom.css">
</head>

<body style="background-color:honeydew">
<div id="box">
    <canvas class="particles-js-canvas-el"></canvas>
</div>
<div class="loginform">
    <form role="form" class="loginbox" method="post">
        <h3 style="color:coral;clear: both;">AUTOMATION PLATFORM</h3>
        <fieldset class="boxBody">
            <div class="input-group" style="margin-left: 10px;margin-right: 10px">
          <span class="input-group-addon">
              <span class=" glyphicon glyphicon-user "></span>
          </span>
                <input name="userid" class="form-control" type="text" tabindex="1" placeholder="请输入工号" required>
            </div>
            <br>
            <div class="input-group" style="margin-left: 10px;margin-right: 10px">
            <span class="input-group-addon">
              <span class=" glyphicon glyphicon-lock "></span>
          </span>
                <input name="password" class="form-control" type="password" placeholder="请输入密码" tabindex="2" required>
            </div>
        </fieldset>
        <footer>
            <br>
            <input type="submit" class="btn btn-info btn-block" style="width: 95%;margin-left: 8px;margin-bottom: 6px"
                   value="登录" tabindex="4">
        </footer>
    </form>
</div>

<footer style="position:absolute;bottom: 0px;margin-left: 31.5%">
    <a href="http://wwww.baidu.com">Simple Login Form (Bootstrap/HTML5/CSS3 Coded) </a> | <a
        href="http://www.baidu.com.com">FIND MORE SAMPLE</a>
</footer>
<script src='../../static/maintenance/js/jquery-3.2.1.min.js'></script>
<script src='../../static/maintenance/bootstrap3.3.7/js/bootstrap.min.js'></script>
<script src='../../static/maintenance/js/particles.js'></script>
<script src='../../static/maintenance/js/background.js'></script>
</body>

</html>